<h1>Stocks I'm watching</h1>

<% if @watches.empty? %>
  <p>You don't have any watches! Click the button below to watch a stock.</p>
  <p><%= link_to 'Watch a stock', new_watch_path, class: "btn btn-primary" %></p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Threshold</th>
        <th>Current Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @watches.each do |watch| %>
        <tr>
        	<td><%= watch.stock.code %></td>
        	<td><%= watch.stock.name %></td>
        	<td>+/- <%= number_to_percentage(watch.threshold, precision: 2) %> from prev close</td>
          <td><%= number_to_currency(watch.stock.latest_quote.price) %>
            <span style="color: <%= direction_to_color(watch.stock.daily_diff.direction) %>;">
              (<% if watch.stock.daily_diff.diff == 0 then %>no change<% else %>
                <%= watch.stock.daily_diff.direction %><%= number_to_currency(watch.stock.daily_diff.diff.abs) %> /
                <%= watch.stock.daily_diff.direction %><%= number_to_percentage(watch.stock.daily_diff.percent_change.abs, precision: 2) %>
              <% end %>)
            </span>
            <a href="https://www.nzx.com/markets/NZSX/securities/<%= watch.stock.code %>">more</a>
          </td>
          <td>
            <%= link_to 'Edit', edit_watch_path(watch) %> | 
            <%= link_to 'Remove', watch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to 'Watch another stock', new_watch_path, class: "btn btn-primary" %></p>
<% end %>


