<h1>Stocks I'm watching</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Threshold</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @watches.each do |watch| %>
      <tr>
      	<td><%= watch.stock.code %></td>
      	<td><%= watch.stock.name %></td>
      	<td><%= watch.threshold %></td>
        <td><%= link_to 'Edit', edit_watch_path(watch) %> | </td>
        <td><%= link_to 'Remove', watch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Watch another stock', new_watch_path, class: "btn btn-primary" %>
