<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stock Watcher :: Set up custom alerts for stocks on the NZX" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Stock Watcher lets you
    specify stocks on the NZX that you're interested in, and watches them for you, alerting you if your criteria are
    met." %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<header>
    <%= render 'layouts/navigation' %>
</header>
<main role="main">
    <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
</main>
<footer>
    <div class="container">
        <%= render 'layouts/footer' %>
    </div>
</footer>

<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47969936-1', 'stockwatcher.co.nz');
  ga('send', 'pageview');

</script>
<% end %>

</body>
</html>
